<?xml version="1.0"?>
<!--
/**
  * @Package Module: Ascripts_Testlogs
     * @Author: Ashfaq Ahmed
     * @Email: phpjavaengineer@gmail.com
     * @Phone: +92-345-4128462
     * @copyright : April 2020
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="testlogs" frontName="testlogs">
            <module name="Ascripts_Testlogs" />
        </route>
    </router>
</config>
