<?xml version="1.0"?>
<!--    /**
        * @Package Module: Ascripts_Linelogin
        * @Author: Ashfaq Ahmed
        * @Email: phpjavaengineer@gmail.com
        * @Phone: +92-345-4128462
        * @copyright : April 2020
        */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Magento_Customer::config_customer">
                                <resource id="Ascripts_Linelogin::configuration" title="Line Social Login"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>